# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore everything by default
* export-ignore

# Whitelist addons directory (include in git archive/zip)
addons/ -export-ignore
addons/**/* -export-ignore

# Optional: You might want to include the License
LICENSE -export-ignore
